# define directories where radar files live, where to save the cvp files and where to put the log file
# LOG_OUTPUT /gws/smf/j04/ncas_radar/rrniii/BioDAR/VP_Extraction/Output/CVP_Cols_Done.txt
LOG_OUTPUT /gws/smf/j07/ncas_radar/jcrook/my_CVPs/Brazil/VP_Extraction_output/CVP_Done.txt
DATA_INPUT /gws/smf/j07/ncas_radar/Brazil/RadxConvert_output/%Y%m%d/
DATA_OUTPUT /gws/smf/j07/ncas_radar/jcrook/my_CVPs/Brazil/Jaraguari/
PROFILE_TYPE CVP
MET_OFFICE False
# define which CVPs we want to create
COL_RADIUS 2.5
MAX_RADIUS 30.0
MIN_H 0
MAX_H 2000
H_STEP 200
FIELD_LIST PhiDP KDP RhoHV W dBZ ZDR V
CREATE_CVP_GRID True
# lat lon of fixed sites
# SPECIFIC_CVP 