# define directories where radar files live, where to save the qvp files and where to put the log file
# LOG_OUTPUT /gws/smf/j04/ncas_radar/rrniii/BioDAR/VP_Extraction/Output/
LOG_OUTPUT /gws/smf/j07/ncas_radar/jcrook/my_QVPs/VP_Extraction_output/QVPs_Done.txt'
DATA_INPUT /gws/nopw/j04/ncas_radar_vol3/ukmo-nimrod/raw_h5_data/single-site/
# DATA_OUTPUT /gws/smf/j07/ncas_radar/data/ukmo-nimrod/raw_qvp_data/
DATA_OUTPUT /gws/smf/j07/ncas_radar/jcrook/my_QVPs/
MET_OFFICE True
PROFILE_TYPE QVP
FIELD_LIST PhiDP RhoHV SQI W dBZ ZDR V
ELEVATIONS 1 2 3 4
AZIMUTHS_TO_EXCLUDE 20 30
# Azimuths to exclude should be put in in the format start end and repeated for each section to exclude
