[DEFAULT]

[FILE_IO]
# define directories where radar files live, where to save the cvp files and where to put the log file
#LOG_OUTPUT = /gws/smf/j07/ncas_radar/jcrook/my_CVPs/uk-nimrod/VP_Extraction_output/CVP_Done.txt
DATA_INPUT = /gws/nopw/j04/ncas_radar_vol3/ukmo-nimrod/raw_h5_data/single-site/chenies/%Y/
#DATA_OUTPUT = /gws/smf/j07/ncas_radar/jcrook/my_CVPs/uk-nimrod/chenies/
DATA_OUTPUT = /gws/smf/j07/ncas_radar/dufton/CVPs/chenies/
LOG_OUTPUT = /gws/smf/j07/ncas_radar/dufton/CVPs/CVP_Chenies_Done.txt


[CVP_SETTINGS]
column_type = cartesian
PROFILE_TYPE = CVP
MET_OFFICE = True
# define which CVPs we want to create
COL_RADIUS = 2.5
MAX_RADIUS = 30.0
MIN_H = 0
MAX_H = 2000
H_STEP = 200

[CVP_parameters]
x_size = 5000
y_size = 5000

[CVP_LOCATIONS]
CREATE_CVP_GRID = True

[SPECIFIC_CVPS]
# lat lon of fixed sites
SPECIFIC_CVP = 51.806908 -0.3609735 fixed1 

[FIELD_LIST]
f1 = reflectivity
f2 = velocity
f3 = normalized_coherent_power
f4 = spectrum_width
f5 = differential_reflectivity
f6 = cross_correlation_ratio
f7 = differential_phase

[logarithmic_fields_list]
f1 = reflectivity