[DEFAULT]

[FILE_IO]
# define directories where radar files live, where to save the cvp files and where to put the log file
# LOG_OUTPUT /gws/smf/j04/ncas_radar/rrniii/BioDAR/VP_Extraction/Output/CVP_Cols_Done.txt
LOG_OUTPUT = /gws/smf/j07/ncas_radar/jcrook/my_CVPs/uk-nimrod/VP_Extraction_output/CVP_Done.txt
DATA_INPUT = /gws/nopw/j04/ncas_radar_vol3/ukmo-nimrod/raw_h5_data/single-site/chenies/%Y/
# DATA_OUTPUT /gws/smf/j07/ncas_radar/data/ukmo-nimrod/raw_cvp_data/
DATA_OUTPUT = /gws/smf/j07/ncas_radar/jcrook/my_CVPs/uk-nimrod/chenies/

[CVP_SETTINGS]
column_type = cartesian
PROFILE_TYPE = CVP
MET_OFFICE = True
# define which CVPs we want to create
COL_RADIUS = 2.5
MAX_RADIUS = 30.0
MIN_H = 0
MAX_H = 2000
H_STEP = 200

[CVP_parameters]
x_size = 5000
y_size = 5000

[CVP_LOCATIONS]
CREATE_CVP_GRID = True

[SPECIFIC_CVPS]
# lat lon of fixed sites
SPECIFIC_CVP = 51.806908 -0.3609735 fixed1 

[FIELD_LIST]
f1 =PhiDP
f2 = RhoHV
f3 = SQI
f4 = W
f5 = dBZ
f6 = ZDR
f7 = V


